<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APOD.swift2.3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TodayAppExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62F06D041DA2B82D00353999</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62F06D181DA2B82D00353999</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62F06D231DA2B82D00353999</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62F06D471DA45FF100353999</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
